[tool.black]
line-length = 100
target-version = ['py310']
include = '\.pyi?$'
extend-exclude = '''
/(
  # directories
  \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | build
  | dist
)/
'''

[tool.ruff]
line-length = 100
target-version = "py310"
exclude = [
    ".git",
    "__pycache__",
    ".venv",
    "build",
    "dist",
    ".eggs",
    "notebooks",  # Jupyter notebooks have different import structure
]

[tool.ruff.lint]
select = ["E", "F", "W", "I", "N", "UP"]
ignore = [
    "E501",  # Line too long (handled by Black)
    "N803",  # Argument name should be lowercase (X is standard ML convention)
    "N806",  # Variable name should be lowercase (X, X_dict are standard ML conventions)
    "E722",  # Allow bare except for cleanup code
]

